.NodeWrapper{
    width: 14px;
    height: 14px;
    background-color: rgb(160, 160, 160);
}
.StartNode{
    background-color: rgb(30, 255, 0);
}
.EndNode{
    background-color: rgb(255, 49, 49);
}
.Wall{
    background-color: rgb(255, 217, 0);
}
.NodeVisited{
    background-color: green;
    animation-name: visitedAnim;
    animation-duration: .1s;
}
.NodeShortest{
    background-color: rgb(199, 24, 91);
}
.Pointer{
    cursor: pointer;
}
@keyframes visitedAnim{
    0%{background-color:rgb(151, 151, 151);border-radius: 0px;}
    50%{background-color: aqua; border-radius: 3px;}
    100%{background-color: rgb(30, 255, 0);border-radius: 0px;}
}
@media(max-width: 800px){
    .NodeWrapper{
    width: 10px;
    height: 10px;
}
}
@media(max-width: 600px){
    .NodeWrapper{
    width: 8px;
    height: 8px;
}
}
@media(max-width: 499px){
    .NodeWrapper{
    width: 5px;
    height: 5px;
}
}